body {
    font-family:'Courier New', Courier, monospace;
}

nav, header {
    text-align: center;
    padding: 0.8%;
}

li {
    display: inline-block;
    list-style: none;
    padding: 0.8%;
}

a {
    background-color: rgb(255, 119, 207);
    color: rgb(204, 250, 157);
    text-decoration: none;
}

.icon-link {
    background-color: white;
}

.foto-perfil {
    width: 15%;
    border-radius: 100%;
}

.foto-produto {
    width: auto;
    border-radius: 30%;
}

#produto {
    padding: 4.6%;
    display: inline-block;
}

footer {
    text-align: center;
}