body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

nav, header {
    padding: 0.8%;
}

li {
    display: inline-block;
    list-style: none;
    padding: 0.8%;
}

a {
    background-color: rgb(255, 119, 207);
    color: rgb(204, 250, 157);
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.foto-perfil {
    width: 45%;
    border-radius: 100%;
}

.boas-vindas {
    margin: 40px;
}

.icon-link {
    background-color: white;
}

.icon {
    width: 50%;
}

.produto {
    padding: 4.2%;
    display: inline-block;
}

.foto-produto {
    width: auto;
    border-radius: 30%;
}

footer {
    text-align: left;
}

@media screen and (min-width:801px) {

    .foto-perfil {
        width: 25%;
    }

    footer {
        text-align: center;
    }
}

@media screen and (min-width:1025px) {

    .foto-perfil {
        width: 15%;
    }

    .preco {
        padding:20px;
        color:white;
        opacity:0;
        transition: opacity .2s linear;
        background-color:rgba(0,0,0,.7);
        border-radius: 15px;
    }

    .produto {
        border: 1px solid rgba(209, 221, 194, 0.539);
        border-radius: 10px;
        margin: 10px;
    }

    .produto:hover .preco {
        opacity: 1;
    }
}
