body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
}

nav, header {
    padding: 0.8%;
}

li {
    display: inline-block;
    list-style: none;
    padding: 0.8%;
}

a {
    background-color: rgb(255, 119, 207);
    color: rgb(204, 250, 157);
    text-decoration: none;
}

.foto-perfil {
    width: 15%;
    border-radius: 100%;
}

.icon-link {
    background-color: white;
}

.icon {
    width: 50%;
}

.produto {
    padding: 4.2%;
    display: inline-block;
}

.foto-produto {
    width: auto;
    border-radius: 30%;
}

.produto:hover .preco {
    opacity: 1;
}

.preco {
    padding:20px;
    color:white;
    opacity:0;
    transition: opacity .2s linear;
    background-color:rgba(0,0,0,.7);
    border-radius: 15px;
}
